# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# Ignore any other files further up in the file system
root = true

# Configuration for all files
[*]
indent_style = space
indent_size = 4
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Configuration for YAML and Markdown
[**.{yml,md}]
indent_size = 2
