{
    "overrides": [
        {
            "files": "**",
            "options": {
                "requirePragma": true,
                "insertPragma": true
            }
        },
        {
            "files": [
                "**.yml",
                "**.md"
            ],
            "options": {
                "tabWidth": 2,
                "embeddedLanguageFormatting": "off"
            }
        }
    ]
}
