[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
flake8 = "*"
"fake-bpy-module-2.83" = "*"

[requires]

[pipenv]
allow_prereleases = true
